/* About
   ========================================================================== */

.about {
  padding-top: 20px;
  padding-bottom: 130px;

  @nest .is-cart-open & {
    @media (max-width: 767px) {
      display: none;
    }
  }
}

.about__title {
  margin: 0 0 20px;
  font-size: 30px;
  line-height: 1.13333333;
  text-transform: uppercase;

  @media (min-width: 768px) {
    font-size: 50px;
    line-height: 1.16;
  }
}

.about-block {
  margin-top: 100px;

  @media (min-width: 768px) {
    margin-top: 150px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: center;
  }

  &:first-child {
    margin-top: 0;
  }
}

.about-block__img {
  margin-bottom: 40px;

  @media (min-width: 768px) {
    width: 50%;
    margin-bottom: 0;
  }

  @nest .about-block:nth-of-type(even) & {
    order: 2;
  }

  & img {
    max-width: 100%;
    height: auto;
  }
}

.about-block__content {
  @media (min-width: 768px) {
    width: 50%;
    padding-left: 30px;
  }

  @media (min-width: 1000px) {
    padding-left: 60px;
  }

  @media (min-width: 1200px) {
    padding-left: 104px;
  }

  @nest .about-block:nth-of-type(even) & {
    @media (min-width: 768px) {
      padding-left: 0;
      padding-right: 30px;
    }

    @media (min-width: 1000px) {
      padding-right: 60px;
    }
    
    @media (min-width: 1200px) {
      padding-right: 106px;
    }
  }
}

.about-block__title {
  margin-bottom: 20px;
  font-size: 15px;
  line-height: 1.33333333;
  text-transform: uppercase;

  @media (min-width: 1000px) {
    margin-bottom: 30px;
  }
}

.about-block__description {
  font-size: 20px;
  line-height: 1.25;

  @media (min-width: 1000px) {
    font-size: 25px;
    line-height: 1.2;
  }
}

.about-vacancies {
  border-top: 1px solid var(--black-color);
  border-bottom: 1px solid var(--black-color);
  padding: 30px 0 80px;
  margin: 100px 0;
  text-align: center;

  @media (min-width: 768px) {
    padding: 30px 0 100px;
    margin: 150px 0;
  }
}

.about-vacancies__title {
  margin-bottom: 80px;
  font-size: 15px;
  line-height: 2;

  @media (min-width: 768px) {
    margin-bottom: 70px;
  }
}

.about-vacancies__subtitle {
  margin-bottom: 20px;
  font-size: 15px;
  line-height: 2;

  @media (min-width: 768px) {
    margin-bottom: 30px;
  }
}

.about-vacancies__list {
  margin-bottom: 40px;
  font-size: 30px;
  line-height: 1.33333333;
  text-transform: uppercase;

  @media (min-width: 768px) {
    margin-bottom: 30px;
  }
}

.about-vacancies__contact {
  max-width: 300px;
  margin: 0 auto;
  font-size: 15px;
  line-height: 1.33333333;

  & a {
    color: var(--blue-color);
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}

.about__bottom {
  @media (min-width: 1000px) {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
  }
}

.about-contacts {
  @media (min-width: 1000px) {
    width: 50%;
    padding-left: 60px;
  }

  @media (min-width: 1200px) {
    padding-left: 106px;
  }
}

.about-contacts__title {
  border-bottom: 1px solid var(--black-color);
  padding-bottom: 30px;
  margin-bottom: 20px;
  font-size: 20px;
  line-height: 1.25;
  text-align: center;

  @media (min-width: 768px) {
    padding-bottom: 20px;
    font-size: 25px;
    line-height: 1.2;
    text-align: left;
  }
}

.about-contacts__list {
  display: table;
  font-size: 15px;
  line-height: 2.333333333;
}

.about-contacts__line {
  display: table-row;
}

.about-contacts__tip,
.about-contacts__value {
  display: table-cell;
  padding-top: 10px;
}

.about-contacts__tip {
  padding-right: 20px;
}

.about-contacts__value {
  & a {
    color: var(--blue-color);
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}
