/* Article
   ========================================================================== */

.article {
  padding-top: 20px;
  padding-bottom: 130px;

  @media (min-width: 768px) {
    padding-bottom: 200px;
  }

  @nest .is-cart-open & {
    @media (max-width: 767px) {
      display: none;
    }
  }
}

.article__title {
  margin: 0 0 20px;
  font-size: 30px;
  line-height: 1.13333333;
  text-transform: uppercase;

  @media (min-width: 768px) {
    font-size: 50px;
    line-height: 1.16;
  }
}

.article__img {
  margin: 0 -20px 80px;

  @media (min-width: 768px) {
    margin: 0 0 80px;
  }

  & img {
    width: 100%;
    height: auto;
  }
}

.article__content {
  max-width: 740px;
  margin: 0 auto;
  font-size: 20px;
  line-height: 1.25;

  /* @media (min-width: 768px) {
    font-size: 25px;
    line-height: 1.32;
  } */

  & p,
  & ul,
  & ol {
    margin: 25px 0;

   /*  @media (min-width: 768px) {
      margin: 33px 0;
    } */

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  & h2,
  & h3,
  & h4 {
    margin: 80px 0 40px;
    font-size: 15px;
    line-height: 1.3333333;
    text-transform: uppercase;
    text-align: center;

    @media (min-width: 768px) {
      margin: 130px 0 60px;
    }

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  & img {
    width: calc(100% + 40px);
    height: auto;
    margin: 15px -20px;

    @media (min-width: 768px) {
      max-width: 100%;
      width: auto;
      margin: 27px 0;
    }
  }
}
