/* Banner
   ========================================================================== */

.banners {
  margin-top: -70px;

  @media (min-width: 768px) {
    margin-top: -78px;
  }

  & .banner {
    margin-top: 0;
    height: var(--vh);
    max-height: 700px;
    padding-bottom: 0;

    &:before,
    &:after {
      display: none;
    }
  }

  & .swiper-button-prev,
  & .swiper-button-next {
    position: absolute;
    background: var(--black-color);
    width: 40px;
    height: 40px;
    margin-top: 0;
    top: auto;
    bottom: 15px;
    color: var(--white-color);
    font-size: 15px;
    line-height: 2.53333333;
    text-align: center;
    border-radius: 50%;

    &:focus {
      outline: 0;
    }
  }

  & .swiper-button-prev {
    left: 0;

    &:before {
      content: '<';
      display: inline;
    }
  }

  & .swiper-button-next {
    right: 0;

    &:before {
      content: '>';
      display: inline;
    }
  }

  & .swiper-pagination {
    left: 50px;
    right: 50px;
    bottom: 23px;

    @media (min-width: 768px) {

    }
  }

  & .swiper-pagination-bullet {
    position: relative;
    background: none;
    border: 0;
    width: 50px;
    height: 8px;
    margin: 0 5px;
    overflow: hidden;
    border-radius: 5px;
    opacity: 1;

    @media (min-width: 768px) {
      width: 100px;
      height: 10px;
    }

    &:focus {
      outline: 0;
    }

    &:before {
      content: '';
      display: block;
      position: absolute;
      background-color: var(--white-color);
      border: 1px solid var(--black-color);
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border-radius: 5px;
    }

    &:after {
      content: '';
      display: block;
      position: absolute;
      background-color: var(--black-color);
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      transform: translate3d(-100%,0,0);
      border-radius: 5px;
    }
  }

  & .swiper-pagination-bullet-active {
    &:after {
      animation: slider linear 5s;
    }
  }
}

@keyframes slider {
  0% {
    transform: translate3d(-100%,0,0);
  }
  100% {
    transform: translate3d(0,0,0);
  }
}

.banners__nav {
  position: relative;
}

.banner {
  position: relative;
  background-image: url(../images/banner_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 70px;
  padding-bottom: 270px;
  margin-top: -70px;
  overflow: hidden;
  z-index: 1;

  @media (min-width: 768px) {
    padding-top: 78px;
    padding-bottom: 410px;
    margin-top: -78px;
  }

  @media (min-width: 1200px) {
    background-image: image-set(url(../images/banner.jpg) 1x, url(../images/banner@2x.jpg) 2x);
    background-position: 50% 50%;
    padding-bottom: 30vw;
  }

  &:before {
    content: '';
    display: block;
    position: absolute;
    background-image: image-set(url(../images/banner_l_sm.png) 1x, url(../images/banner_l_sm@2x.png) 2x);
    background-repeat: no-repeat;
    width: 201px;
    height: 213px;
    left: 0;
    bottom: 30px;
    z-index: -1;

    @media (min-width: 768px) {
      background-image: image-set(url(../images/banner_l.png) 1x, url(../images/banner_l@2x.png) 2x);
      background-size: 100%;
      width: 470px;
      height: 500px;
    }

    @media (min-width: 1000px) {
      width: 510px;
      height: 540px;
    }

    @media (min-width: 1200px) {
      display: none;
    }

    /* @media (min-width: 1200px) {
      width: 47.857142857vw;
      max-width: 670px;
      height: 49.305555556vw;
      max-height: 710px;
      top: 70px;
      bottom: auto;
    } */
  }
  
  &:after {
    content: '';
    display: block;
    position: absolute;
    background-image: image-set(url(../images/banner_r_sm.png) 1x, url(../images/banner_r_sm@2x.png) 2x);
    background-repeat: no-repeat;
    width: 159px;
    height: 103px;
    right: 0;
    bottom: 20px;
    z-index: -1;

    @media (min-width: 768px) {
      background-image: image-set(url(../images/banner_r.png) 1x, url(../images/banner_r@2x.png) 2x);
      background-size: 100%;
      width: 320px;
      height: 204px;
    }

    @media (min-width: 1000px) {
      width: 380px;
      height: 246px;
    }

    @media (min-width: 1200px) {
      display: none;
    }

    /* @media (min-width: 1200px) {
      background-position: 100% 0;
      width: 36.80555556vw;
      max-width: 530px;
      height: 23.75vw;
      max-height: 342px;
      bottom: 24px;
    } */
  }
}

.banner__content {
  padding-top: 30px;

  @media (min-width: 768px) {
    border-bottom: 1px solid var(--black-color);
    padding-top: 50px;
    padding-bottom: 15px;
  }

  @media (min-width: 1000px) {
    padding-left: 50%;
  }
}

.banner__title {
  margin-bottom: 15px;
  font-size: 30px;
  line-height: 1.13333333;
  text-transform: uppercase;
}

.banner__btn {
  & .btn {
    height: 46px;
    padding: 0 22px;
    font-size: 15px;
    line-height: 3.066666667;
    border-radius: 23px;
  }
}
