/* Benefits
   ========================================================================== */

.benefits {
  padding: 20px 0;
  margin: 0 -20px;
  overflow-x: auto;
  overflow-y: hidden;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;

  @media (min-width: 768px) {
    padding: 10px 0 30px;
    margin: 0;
    flex-wrap: wrap;
  }

  @media (min-width: 1000px) {
    padding: 30px 0;
  }
}

.benefits__cell {
  width: 190px;
  margin-right: 40px;
  flex: 0 0 auto;

  @media (min-width: 768px) {
    width: 50%;
    margin-right: 0;
    margin-top: 20px;
  }

  @media (min-width: 1000px) {
    width: 25%;
    margin-top: 0;
  }

  &:first-child {
    @media (max-width: 767px) {
      width: 210px;
      padding-left: 20px;
    }
  }


  &:last-child {
    @media (max-width: 767px) {
      width: 210px;
      padding-right: 20px;
      margin-right: 0;
    }
  }
}

.benefits__item {
  @media (min-width: 768px) {
    max-width: 280px;
  }
  
  @media (min-width: 1000px) {
    max-width: 190px;
  }
}
