/* Cart
   ========================================================================== */

.cart {
  @media (min-width: 768px) {
    position: fixed;
    width: 430px;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 900;
  }
}

.cart__overlay {
  @media (min-width: 768px) {
    content: '';
    display: block;
    position: absolute;
    background-color: var(--black-color);
    width: 100vw;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: 0.6;
    z-index: -1;
  }
}

.cart--hidden {
  display: none;
}

.cart__container {
  padding: 30px 20px 20px;

  @media (min-width: 768px) {
    background-color: var(--white-color);
    height: 100%;
  }
}

.cart__title {
  position: relative;
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 1.133333333;
  text-transform: uppercase;

  & a {
    display: block;
    position: absolute;
    width: 22px;
    height: 22px;
    margin-top: -10px;
    right: 0;
    top: 50%;
  }
}

.icon-back {
  background-image: url(../images/back.svg);
  width: 18px;
  height: 14px;
  vertical-align: top;
}

.icon-remove {
  background-image: url(../images/remove.svg);
  background-size: 100%;
  width: 22px;
  height: 22px;
  vertical-align: top;
}

.cart__products {
  margin-bottom: 40px;

  @media (min-width: 768px) {
    padding-bottom: 100px;
    margin-bottom: 0;
  }
}

.cart:not(.checkout__cart) {
  & .cart__products {
    @media (min-width: 768px) {
      padding-bottom: 0;
      padding-right: 20px;
      margin-right: -20px;
      max-height: calc(100vh - 186px);
      overflow-x: hidden;
      overflow-y: auto;
    }
  }
}

.cart-product {
  position: relative;
  margin-top: 30px;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  &:first-child {
    margin-top: 0;
  }
}

.cart-product__img {
  width: 70px;
  margin-right: 14px;

  @media (min-width: 768px) {
    width: 156px;
    margin-right: 20px;
  }

  & a {
    display: block;
    border: 1px solid var(--black-color);
    overflow: hidden;
  }

  & img {
    max-width: 100%;
    height: auto;
    vertical-align: top;
  }
}

.cart-product__content {
  width: calc(100% - 84px - 24px);

  @media (min-width: 768px) {
    width: calc(100% - 176px - 30px);
  }
}

.cart-product__title {
  margin-bottom: 4px;
  font-size: 20px;
  line-height: 1.4;
  text-transform: uppercase;
}

.cart-product__params {
  margin-bottom: 3px;
  color: var(--grey-color);
  font-size: 12px;
  line-height: 1.333333333;
}

.cart-product__price {
  display: table;
  font-size: 15px;
  line-height: 1.333333333;
  letter-spacing: 0.5px;

  & .cart-product__qty {
    border: 1px solid var(--black-color);
    width: 46px;
    height: 20px;
    padding: 0 10px 2px;
    text-align: center;
    border-radius: 10px;

    @nest .is-mac & {
      padding: 0 10px 3px;
    }
  }
}

.cart-product__row {
  display: table-row;
}

.cart-product__col {
  display: table-cell;
  padding-top: 9px;
  vertical-align: middle;
}

.cart-product__col--title {
  padding-right: 20px;

  @media (min-width: 768px) {
    padding-right: 30px;
  }
}

.cart-product__remove {
  border: 0;
  background-color: transparent;
  padding: 0;
  margin-top: 9px;
  color: var(--blue-color);
  cursor: pointer;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

.cart__total {
  background-color: var(--white-color);
  padding: 0 20px 20px;

  @media (min-width: 768px) {
    position: absolute;
    padding: 20px;
    left: 0;
    right: 0;
    bottom: 0;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
  }
}

.cart__total-amount {
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 1;

  @media (min-width: 768px) {
    margin-bottom: 0;
    flex: 1 0 auto;
    text-align: center;
  }
}

.cart__checkout {
  & .btn {
    width: 100%;

    @media (min-width: 768px) {
      width: auto;
    }
  }
}
