/* Catalog
   ========================================================================== */

.catalog {
  padding-top: 20px;

  @nest .is-cart-open & {
    @media (max-width: 767px) {
      display: none;
    }
  }
}

.catalog__title {
  margin: 0 0 20px;
  font-size: 30px;
  line-height: 1.13333333;
  text-transform: uppercase;

  @media (min-width: 768px) {
    font-size: 50px;
    line-height: 1.16;
  }
}

.catalog__subcategories {
  padding-bottom: 10px;
  margin: 0 -20px 10px;
  overflow-x: auto;
  overflow-y: hidden;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;

  @media (min-width: 768px) {
    padding-bottom: 0;
    margin: 0 -5px;
    overflow: visible;
    flex-wrap: wrap;
  }

  & li {
    padding: 0 3px;

    @media (min-width: 768px) {
      width: 25%;
      padding: 0 5px;
      margin-bottom: 10px;
    }

    &:first-child {
      padding-left: 20px;

      @media (min-width: 768px) {
        padding-left: 5px;
      }
    }
    
    &:last-child {
      padding-right: 20px;

      @media (min-width: 768px) {
        padding-right: 5px;
      }
    }
  }
}

.subcategory {
  display: inline-block;
  border: 1px solid var(--black-color);
  height: 32px;
  padding: 0 10px;
  font-size: 15px;
  line-height: 1.866666667;
  text-decoration: none;
  white-space: nowrap;
  vertical-align: top;
  border-radius: 16px;

  @media (min-width: 768px) {
    width: 100%;
    height: 60px;
    line-height: 3.866666667;
    text-align: center;
    border-radius: 30px;
  }

  &:hover,
  &:focus {
    color: var(--black-color);
    text-decoration: none;

    @media (min-width: 768px) {
      background-color: var(--black-color);
      color: var(--white-color);
    }
  }
}

.subcategory--active {
  background-color: var(--black-color);
  color: var(--white-color);
  pointer-events: none;
}

/* .filter {
  padding-bottom: 25px;

  @media (min-width: 550px) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.filter__group {
  padding-bottom: 5px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  @media (min-width: 550px) {
    margin-right: 20px;
  }
}

.filter__input {
  position: relative;
  margin-right: 5px;
  margin-bottom: 10px;
  cursor: pointer;

  & input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;

    &:checked + span {
      background-color: var(--black-color);
      color: var(--white-color);
    }
  }

  & span {
    display: inline-block;
    border: 1px solid var(--black-color);
    height: 32px;
    padding: 0 20px;
    font-size: 15px;
    line-height: 2;
    border-radius: 16px;
    vertical-align: top;
  }
}

.filter__input--disabled {
  opacity: .25;
  cursor: default;
} */

.catalog__more {
  text-align: center;

  & .btn {
    width: 100%;

    @media (min-width: 768px) {
      width: 366px;
    }
  }
}
