/* Checkout
   ========================================================================== */

.checkout {
  padding-top: 30px;
  padding-bottom: 40px;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;

  @media (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.checkout__title {
  margin: 0 0 20px;
  font-size: 30px;
  line-height: 1.1333333;
  text-transform: uppercase;

  @media (min-width: 768px) {
    width: 100%;
    font-size: 50px;
    line-height: 1.16;
  }
}

.checkout__cart {
  position: static;
  order: 1;

  @media (min-width: 768px) {
    width: 360px;
    order: 2;
  }

  @media (min-width: 1000px) {
    width: 460px;
  }

  &:before {
    display: none;
  }

  & .cart__container {
    border: 1px solid var(--black-color);
    padding: 20px;
    
    @media (min-width: 1000px) {
      padding: 35px 40px;
    }
  }

  & .cart__products {
    @media (min-width: 768px) {
      padding-bottom: 0;
      margin-bottom: 40px;
    }
  }

  & .cart-product__img {
    @media (min-width: 768px) and (max-width: 999px) {
      width: 120px;
    }
  }

  & .cart-product__content {
    @media (min-width: 768px) and (max-width: 999px) {
      width: calc(100% - 140px);
    }
  }
}

.checkout__delivery {
  margin-top: 20px;
  font-size: 15px;
  line-height: 1.466666667;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.checkout__total {
  margin-top: 20px;
  font-size: 30px;
  line-height: 1;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.checkout__btn {
  display: none;

  @media (min-width: 768px) {
    display: block;
    padding: 30px 20px;
  }

  @media (min-width: 1000px) {
    padding: 30px 40px;
  }

  & .btn {
    width: 100%;
  }
}

.checkout__form {
  margin-top: 40px;
  order: 2;

  @media (min-width: 768px) {
    width: calc(100% - 360px - 30px);
    margin-top: 0;
    order: 1;
  }

  @media (min-width: 1000px) {
    width: calc(100% - 460px - 50px);
  }
  
  @media (min-width: 1200px) {
    width: calc(100% - 460px - 100px);
  }
}

.checkout__group {
  border-top: 1px solid var(--black-color);
  padding-top: 30px;
  margin-top: 30px;

  &:first-child {
    border: 0;
    padding-top: 0;
    margin-top: 0;
  }
}

.checkout__group-title {
  font-size: 20px;
  line-height: 1.25;

  @media (min-width: 768px) {
    font-size: 25px;
    line-height: 1;
  }
}

.checkout__delivery-group {
  margin-top: 30px;
}

.checkout__delivery-group--hidden {
  display: none;
}