/* Course
   ========================================================================== */

.course {
  padding-top: 20px;
  padding-bottom: 130px;

  @media (min-width: 768px) {
    padding-bottom: 200px;
  }

  @nest .is-cart-open & {
    @media (max-width: 767px) {
      display: none;
    }
  }
}

.course__title {
  margin: 0 0 20px;
  font-size: 30px;
  line-height: 1.13333333;
  text-transform: uppercase;

  @media (min-width: 768px) {
    font-size: 50px;
    line-height: 1.16;
  }
}

.course__head {
  border: 1px solid var(--black-color);
  margin-bottom: 60px;

  @media (min-width: 768px) {
    margin-bottom: 100px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: center;
  }
}

.course__photo {
  @media (min-width: 768px) {
    width: calc(100% - 300px);
  }

  @media (min-width: 1000px) {
    width: calc(100% - 350px);
  }

  & img {
    width: 100%;
    height: 62.5vw;

    @media (min-width: 768px) {
      height: 360px;
      object-fit: cover;
    }

    @media (min-width: 1000px) {
      height: 436px;
    }
  }
}

.course__general {
  padding: 30px 20px;

  @media (min-width: 768px) {
    width: 300px;
    padding: 30px;
  }

  @media (min-width: 1000px) {
    width: 350px;
    padding: 30px 40px;
  }
}

.course__info {
  margin-bottom: 20px;
}

.course__info-title {
  margin-bottom: 6px;
  text-transform: uppercase;
}

.course__registration {
  margin-top: 30px;

  & a {
    display: block;
    background-color: var(--black-color);
    height: 60px;
    color: var(--white-color);
    font-size: 15px;
    line-height: 4;
    text-align: center;
    text-decoration: none;
    border-radius: 30px;
  }
}

.course__extra {
  margin-bottom: 60px;

  @media (min-width: 1000px) {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: flex-start;
    align-items: flex-start;
  }
}

.course__extra-title {
  margin-bottom: 20px;
  font-size: 15px;
  line-height: 1.46666667;
  text-transform: uppercase;

  @media (min-width: 1000px) {
    width: calc(100% - 554px);
    padding-right: 20px;
  }
}

.course__extra-description {
  font-size: 15px;
  line-height: 1.46666667;

  @media (min-width: 1000px) {
    width: 554px;
  }

  & p,
  & ul,
  & ol {
    margin: 22px 0;

    &:first-child {
      margin-top: 0;
    }
    
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.course__form {
  border: 1px solid var(--black-color);
  padding: 20px;

  @media (min-width: 768px) {
    padding: 30px;
  }
}

.course__thank-you-title {
  margin-bottom: 10px;
  font-size: 25px;
  line-height: 1.2;
  text-transform: uppercase;

  @media (min-width: 768px) {
    font-size: 30px;
    line-height: 1;
  }
}

.course__thank-you-tip {
  max-width: 300px;
  margin-bottom: 50px;
}

.course__thank-you-facebook {
  & a {
    display: inline-block;
    background-color: var(--black-color);
    height: 60px;
    padding: 0 30px;
    color: var(--white-color);
    font-size: 15px;
    line-height: 4;
    text-decoration: none;
    border-radius: 30px;
  }
}

.icon-facebook {
  background-image: url(../images/facebook.svg);
  width: 25px;
  height: 25px;
  margin-top: -2px;
  margin-right: 20px;
}
