/* Filter
   ========================================================================== */

.filter {
  margin: 0 0 25px;
}

.filter-toggle {
  background-color: var(--black-color);
  height: 46px;
  margin-bottom: 10px;
  color: var(--white-color);
  font-family: 'Apercu Pro Mono';
  font-size: 15px;
  text-decoration: none;
  border-radius: 23px;
  /* transition: background-color ease-in-out .15s, color ease-in-out .15s; */

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;

  @media (min-width: 768px) {
    display: none;
  }

  &:hover,
  &:focus {
    background-color: var(--black-color);
    color: var(--white-color);
    text-decoration: none;
  }
}

.filter-toggle__counter {
  margin-left: 4px;
}

.filter-toggle__counter--hidden {
  display: none;
}

.filter__wrap {
  display: none;

  @media (min-width: 768px) {
    border: 1px solid var(--black-color);
    background-color: var(--white-color);
    padding: 12px 20px;
    
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: center;
  }

  @nest .filter-toggle--open + & {
    @media (max-width: 767px) {
      display: block;
    }
  }
}

.filter__item {
  @media (max-width: 767px) {
    border: 1px solid var(--black-color);
    background-color: var(--white-color);
    padding: 15px 20px;
    margin-top: 5px;
  }
  
  @media (min-width: 768px) {
    height: 46px;
    padding: 13px 0;
    margin-left: 15px;
    z-index: 3;
  }

  @media (min-width: 1000px) {
    margin-left: 30px;
  }
  
  @media (min-width: 1200px) {
    margin-left: 50px;
  }

  &:first-child {
    margin-left: 0;
  }

  &:nth-of-type(n + 5) {
    @media (min-width: 768px) and (max-width: 999px) {
      display: none;
    }
  }

  &.filter-dropdown {
    position: relative;
    white-space: nowrap;
    z-index: 2;
  }

  &.filter-dropdown--active {
    z-index: 3;
  }
  
  &.filter-dropdown--open {
    z-index: 4;
  }

  & .filter-dropdown__value {
    display: inline-block;
    color: var(--black-color);
    font-family: 'Apercu Pro Mono';
    font-size: 15px;
    line-height: 1.33333333;
    text-decoration: none;
    white-space: nowrap;
    text-transform: uppercase;
    /* transition: color ease-in-out .15s; */

    @media (max-width: 767px) {
      width: calc(100% - 9px);  
    }

    @media (min-width: 768px) {
      position: relative;
      z-index: 2;
    }

    &:hover,
    &:focus {
      color: var(--black-color);
      text-decoration: none;

      @media (min-width: 768px) {
        color: var(--black-color);
      }
    }

    &:before {
      content: '';
      display: block;
      position: absolute;

      @media (max-width: 767px) {
        height: 60px;
        top: 0;
        left: 0;
        right: 0;
        border-radius: 20px;
      }

      @media (min-width: 768px) {
        top: 0;
        left: -10px;
        right: -10px;
        bottom: 0;
      }

      @nest .filter-dropdown--open& {
        @media (max-width: 767px) {
          height: 45px;
        }
      }
    }
  }

  & .filter-dropdown__arrow {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 3px 0 3px;
    border-color: var(--black-color) transparent transparent transparent;
    transform: scaleY(1) translate3d(0,0,0);
    /* transition: transform ease-in-out .2s; */

    @media (max-width: 767px) {
      position: absolute;
      margin-top: 9px;
      right: 20px;
    }

    @media (min-width: 768px) {
      display: inline-block;
      position: relative;
      margin-left: 3px;
      margin-top: -2px;
      vertical-align: middle;
      z-index: 2;
    }

    @nest .filter-dropdown--open& {
      transform: scaleY(-1) translate3d(0,0,0);
      pointer-events: auto;
      cursor: pointer;

      @media (min-width: 768px) {
        margin-top: -3px;
      }
    }
  }

  & .filter-dropdown__list {
    @media (max-width: 767px) {
      display: none;
      position: static;
      padding: 10px 0 0;
      transform: none;
      opacity: 1;
      box-shadow: none;
      border-radius: 0;
      pointer-events: auto;
    }

    @media (min-width: 768px) {
      border: 1px solid var(--black-color);
      background-color: var(--white-color);
      display: block;
      position: absolute;
      min-width: calc(100% + 40px);
      padding: 60px 20px 15px;
      top: -13px;
      left: -21px;
      right: auto;
      white-space: nowrap;
      transform: translate3d(0,0,0);
      transform-origin: 50% 0;
      opacity: 0;
      pointer-events: none;
      overflow: hidden;
      /* transition: max-height ease-in-out .3s, opacity ease-in-out .3s .15s; */
    }

    @nest .filter-dropdown--init& {
      max-height: 36px;
    }

    @nest .filter-dropdown--open& {
      @media (max-width: 767px) {
        display: block;
      }
      
      @media (min-width: 768px) {
        opacity: 1;
        pointer-events: auto;
        /* transition: max-height ease-in-out .3s .15s, opacity ease-in-out .3s; */
      }
    }

    & li {
      margin-top: 10px;
      font-size: 13px;
      line-height: 1.5384615;
      transform: translate3d(0,0,0);
      opacity: 0;
      /* transition: opacity ease-in-out .3s; */

      @nest .filter-dropdown--open& {
        opacity: 1;
        /* transition: opacity ease-in-out .3s .2s; */
      }

      &:first-child {
        margin-top: 0;
      }
    }
  }
}

.filter__reset {
  display: block;
  background-color: var(--black-color);
  height: 46px;
  padding: 0 30px;
  margin-top: 10px;
  color: var(--white-color);
  font-family: 'Apercu Pro Mono';
  font-size: 15px;
  line-height: 3.066666667;
  text-decoration: none;
  text-align: center;
  white-space: nowrap;
  border-radius: 23px;
  /* transition: background-color ease-in-out .15s, color ease-in-out .15s; */

  @media (min-width: 768px) {
    margin-top: 0;
    margin-left: auto;
  }

  &:hover,
  &:focus {
    background-color: var(--black-color);
    color: var(--white-color);
    text-decoration: none;
  }
}

.filter__reset--hidden {
  display: none;
}