/* Footer
   ========================================================================== */

.footer {
  position: relative;
  margin-top: 30px;

  @media (min-width: 768px) {
    margin-top: 105px;
  }

  @nest .is-cart-open & {
    @media (max-width: 767px) {
      display: none;
    }
  }

  &:before {
    content: '';
    display: block;
    position: absolute;
    background-image: url(../images/coffee.svg);
    background-repeat: no-repeat;
    background-position: 100% 40px;
    background-size: contain;
    width: 620px;
    height: 624px;
    bottom: 0;
    right: 6.25vw;
    z-index: -1;

    @media (min-width: 768px) {
      background-position: 100% 50px;
      width: 1007px;
      height: 1017px;
    }

    @media (min-width: 1000px) {
      right: 22px;
    }

    @media (min-width: 1441px) {
      left: calc(50% - 332px);
      right: auto;
    }
  }

  & .wrap {
    position: relative;
    z-index: 1;
  }
}

.footer--page {
  &:before {
    background-position: 100% 50px;
    width: 450px;
    height: 454px;
    right: 27vw;

    @media (min-width: 768px) {
      background-position: 100% 232px;
      width: 846px;
      height: 856px;
    }

    @media (min-width: 1000px) {
      right: calc(50% - 344px);
      left: auto;
    }
    
    @media (min-width: 1200px) {
      left: calc(50% - 344px);
      right: auto;
    }
  }
}

.footer__head {
  border-bottom: 1px solid var(--black-color);
  padding-bottom: 20px;
  margin-bottom: 20px;

  @media (min-width: 768px) {
    padding-bottom: 30px;
    margin-bottom: 40px;
  }

  &:before {
    content: '';
    display: block;
    background-image: url(../images/logo.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 72px;
    height: 26px;

    @media (min-width: 768px) {
      width: 133px;
      height: 48px;
    }
  }
}

.footer__groups {
  padding-bottom: 40px;

  @media (min-width: 768px) {
    padding-bottom: 48px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
}

.footer__group {
  font-size: 15px;
  line-height: 2.333333334;

  @media (min-width: 768px) {
    width: 33.33%;
  }
  
  @media (min-width: 1000px) {
    width: 25%;
  }

  &:nth-of-type(1) {
    @media (max-width: 767px) {
      display: none;
    }

    @media (min-width: 768px) and (max-width: 999px) {
      display: none;
    }
  }

  &:nth-of-type(2),
  &:nth-of-type(3) {
    @media (max-width: 767px) {
      display: none;
    }
    
    @media (min-width: 768px) and (max-width: 999px) {
      display: block;
    }
  }

  &:nth-of-type(4) {
    @media (max-width: 767px) {
      display: block;
    } 
  }

  & a {
    text-decoration: none;

    &:hover,
    &:focus {
      color: var(--black-color);
      text-decoration: underline;
    }
  }
}

.footer__group-item--title {
  margin-bottom: 3px;
  font-weight: 700;
}

.footer__group-item--dev {
  margin-top: 35px;
  font-family: 'Apercu Pro Mono';
  font-size: 15px;
  line-height: 1.33333333;

  @media (min-width: 768px) {
    line-height: 2.333333334;
  }

  & a {
    color: var(--blue-color);
    text-decoration: none;
  }
}

.icon-mastercard {
  background-image: url(../images/mc.svg);
  background-size: 100%;
  width: 50px;
  height: 32px;
  margin-right: 6px;
  margin-top: 10px;
}

.icon-visa {
  background-image: url(../images/visa.svg);
  background-size: 100%;
  width: 76px;
  height: 24px;
  margin-top: 10px;
}

.icon-mastercard-secure {
  background-image: url(../images/mastercard_secure.svg);
  background-size: 100%;
  width: 70px;
  height: 25px;
  margin-right: 6px;
  margin-top: 10px;
}

.icon-visa-secure {
  background-image: url(../images/visa_secure.svg);
  background-size: 100%;
  width: 59px;
  height: 25px;
  margin-top: 10px;
}