/* Header
   ========================================================================== */

.header-tip {
  background-color: var(--light-blue-color);
  padding: 9px 20px 12px;
  font-size: 15px;
  line-height: 1.33333333;
  text-align: center;

  & span {
    @media (max-width: 767px) {
      display: none;
    }
  }

  @nest .header--checkout & {
    @media (min-width: 1000px) {
      display: none;
    }
  }
}

.header--sticky {
  position: sticky;
  background-color: var(--white-color);
  left: 0;
  top: 0;
  right: 0;
  z-index: 99;
  transform: translate3d(0,0,0);
}

.header--checkout {
  background-color: var(--light-blue-color);
}

.header__container {
  position: relative;
  padding: 20px 0 21px;
  z-index: 2;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;

  @nest .header--checkout & {
    border-bottom: 0;
    
    @media (max-width: 999px) {
      display: none;
    }
  }

  &:before {
    @nest .header--menu-open &,
    .header--catalog-open & {
      @media (max-width: 767px) {
        content: '';
        display: block;
        position: absolute;
        background-color: var(--white-color);
        height: calc(100% + 2px);
        left: -20px;
        right: -20px;
        z-index: -1;
      }
    }
  }

  &:after {
    content: '';
    display: block;
    position: absolute;
    background-color: var(--black-color);
    height: 1px;
    left: 0;
    right: 0;
    bottom: 0;

    @nest .header--checkout & {
      display: none;
    }
  }
}

.header__logo {
  position: relative;
  /*background-image: url(../images/logo.svg);*/
  background-image: url(../images/fresh_black_logo.png);
  background-repeat: no-repeat;
  background-size: 82%;
  width: 73px;
  height: 33px;
  margin-top: -12px;

  @media (min-width: 768px) {
    width: 100px;
    height: 44px;
  }
}

.header__logo--beta {
  &:after {
    content: 'beta';
    display: block;
    position: absolute;
    margin-left: 4px;
    left: 100%;
    top: 0;
    color: var(--black-color);
    font-size: 13px;
  }

  & + .header__menu-toggle {
    margin-left: 46px;
  }
}

.header__menu-toggle {
  position: relative;
  width: 22px;
  height: 18px;
  margin-top: 2px;
  margin-left: 20px;

  @media (min-width: 768px) {
    margin-left: 30px;
  }

  @media (min-width: 1000px) {
    display: none;
  }

  &:before,
  & i,
  &:after {
    display: block;
    position: absolute;
    background-color: var(--black-color);
    width: 100%;
    height: 2px;
    left: 0;
    border-radius: 1px;
  }

  &:before {
    content: '';
    top: 0;
  }

  & i {
    margin-top: -1px;
    top: 50%;
    pointer-events: none;
  }

  &:after {
    content: '';
    bottom: 0;
  }
}

.header__menu-toggle--open {
  & i {
    display: none;
  }

  &:before {
    transform: translate3d(0,8px,0) rotate(45deg);
  }
  
  &:after {
    transform: translate3d(0,-8px,0) rotate(-45deg);
  }
}

.header__questions {
  margin: 0 auto;

  & + .header__cart {
    margin-left: 0;
  }
}

.header__catalog {
  margin-left: auto;

  @media (min-width: 1000px) {
    margin-left: 20px;
  }

  @media (min-width: 1200px) {
    margin-left: 80px;
  }
}

.is-desktop {
  & .header__catalog:hover {
    & .header__catalog-btn {
      background-color: var(--black-color);
      color: var(--white-color);
      text-decoration: none;

      &:before {
        content: '';
        display: block;
        position: absolute;
        height: 40px;
        margin-top: -10px;
        top: 100%;
        left: -20px;
        right: -20px;
        cursor: default;
        z-index: -1;
      }

      &:after {
        background-position: 0 100%;
        margin-top: -2px;
        transform: scaleY(-1);
      }
    }
    
    & .dropdown {
      display: block;

      @media (min-width: 768px) {
        display: flex;
      }
    }
  }
}

.header__catalog-btn {
  position: relative;
  display: inline-block;
  border: 1px solid var(--black-color);
  height: 28px;
  padding: 0 10px;
  font-size: 15px;
  line-height: 1.733333333;
  text-decoration: none;
  border-radius: 14px;
  vertical-align: top;

  @media (min-width: 768px) {
    height: 32px;
    padding: 0 20px;
    line-height: 2;
    border-radius: 16px;
  }

  &:after {
    content: '';
    display: inline-block;
    background-image: url(../images/arrow.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 9px;
    height: 6px;
    margin-left: 5px;
    vertical-align: middle;

    @media (min-width: 768px) {
      width: 10px;
      height: 7px;
    }
  }

  &:hover,
  &:focus {
    @nest .is-desktop & {
      background-color: var(--black-color);
      color: var(--white-color);
      text-decoration: none;

      &:after {
        background-position: 0 100%;
        margin-top: -2px;
        transform: scaleY(-1);
      }

      & + .dropdown {
        @nest .is-desktop & {
          display: flex;
        }
      }
    }

    @nest .is-mobile & {
      color: var(--black-color);
      text-decoration: none;
    }
  }

  @nest .is-mobile .header__catalog--open & {
    background-color: var(--black-color);
    color: var(--white-color);
    text-decoration: none;

    &:after {
      background-position: 0 100%;
      margin-top: -2px;
      transform: scaleY(-1);
    }

    & + .dropdown {
      display: block;

      @media (min-width: 768px) {
        display: flex;
      }
    }
  }
}

.dropdown {
  display: none;
  position: absolute;
  background-color: var(--white-color);
  border-bottom: 1px solid var(--black-color);
  top: 100%;
  left: -20px;
  right: -20px;

  @media (min-width: 768px) {
    left: 0;
    right: 0;

    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
  }

  &:before {
    @media (min-width: 768px) {
      content: '';
      display: block;
      position: absolute;
      background-color: var(--black-color);
      width: 1px;
      top: 0;
      left: 50%;
      bottom: 0;
    }
  }
}

.dropdown__menu,
.dropdown__side {
  @media (min-width: 768px) {
    width: 50%;
  }
}

.dropdown__menu {
  padding: 30px 20px;
  font-size: 15px;
  line-height: 2.3333333334;

  @media (min-width: 768px) {
    padding: 10px 30px 12px;
  }

  @media (min-width: 1000px) {
    padding-left: 151px;
  }

  @media (min-width: 1200px) {
    padding-left: 207px;
  }

  & li {
    height: 35px;
  }

  & a {
    text-decoration: none;

    &:hover,
    &:focus {
      color: var(--black-color);
      font-weight: 700;
    }
  }
}

.dropdown__side {
  display: none;

  @media (min-width: 768px) {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: stretch;
    align-items: stretch;
  }
}

.dropdown__section {
  display: none;
  padding: 30px;
}

.dropdown__section--visible {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
}

.dropdown__section-img {
  display: none;

  @media (min-width: 1200px) {
    display: block;
    width: 200px;
    margin-right: 30px;
  }

  & img {
    width: 200px;
    height: 200px;
  }
}

.dropdown__section-content {
  @media (min-width: 1200px) {
    width: calc(100% - 230px);
  }
}

.dropdown__section-title {
  margin-bottom: 10px;
  font-weight: 700;
}

.header__menu {
  display: none;

  @media (min-width: 1000px) {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
}

.header__menu-item {
  margin-left: 24px;

  @media (min-width: 1200px) {
    margin-left: 30px;
  }
}

.header__menu-link {
  color: var(--black-color);
  text-decoration: none;

  &:hover,
  &:focus {
    color: var(--black-color);
  }
}

.header__lang {
  display: none;
  position: relative;

  @media (min-width: 768px) {
    display: block;
    margin-left: 30px;
  }
  
  @media (min-width: 1000px) {
    margin-left: auto;
    margin-right: 10px;
  }
  
  @media (min-width: 1200px) {
    margin-right: 40px;
  }

  &:before {
    content: '';
    position: absolute;
    display: block;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
  }

  &:hover,
  &:focus {
    & .header__langs {
      display: block;
    }
  }
}

.header__lang-active {
  pointer-events: none;
  text-decoration: none;

  &:after {
    content: '';
    display: inline-block;
    border-style: solid;
    border-width: 4px 3px 0 3px;
    border-color: var(--black-color) transparent transparent transparent;
    width: 0;
    height: 0;
    margin-left: 4px;
    vertical-align: middle;
  }
}

.header__langs {
  display: none;
  position: absolute;
  padding: 10px;
  top: -33px;
  left: -10px;

  & li:first-child {
    margin-bottom: 23px;
  }

  & a {
    text-decoration: none;

    &:hover,
    &:focus {
      color: var(--black-color);
      text-decoration: underline;
    }
  }
}

.header__cart {
  margin-left: 15px;
  font-family: 'Apercu Pro Mono';
  font-size: 15px;
  line-height: 1.7333333333;
  text-decoration: none;
  border-radius: 14px;

  @media (min-width: 768px) {
    margin-left: 0;
    padding-left: 20px;
    line-height: 2;
    border-radius: 16px;
  }

  &:hover,
  &:focus {
    background-color: var(--black-color);
    color: var(--white-color);
    text-decoration: none;

    & .header__cart-counter {
      border-color: transparent;

      @media (min-width: 768px) {
        padding-left: 0;
        padding-right: 19px;
        text-align: right;
      }
    }
  }
}

.header__cart-tip {
  display: none;

  @media (min-width: 768px) {
    display: inline-block;
    margin-right: 12px;
  }
}

.header__cart-counter {
  display: inline-block;
  border: 1px solid var(--black-color);
  min-width: 28px;
  height: 28px;
  padding: 0 5px;
  text-align: center;
  border-radius: 14px;

  @media (min-width: 768px) {
    width: 32px;
    height: 32px;
    border-radius: 16px;
  }

  @nest .header__cart--products & {
    background-color: var(--black-color);
    color: var(--white-color);
  }
}
