/* Instagram
   ========================================================================== */

.instagram {
  
}

.instagram__slider {
  padding: 0 20px;

  @media (min-width: 768px) {
    padding: 0 calc((100% - 710px) / 2);
  }
  
  @media (min-width: 1000px) {
    padding: 0 calc((100% - 950px) / 2);
  }
  
  @media (min-width: 1200px) {
    padding: 0 calc((100% - 1120px) / 2);
  }

  & .swiper-slide {
    width: calc(50% - 5px);

    @media (min-width: 550px) {
      width: calc(33.33% - 7px);
    }
    
    @media (min-width: 1000px) {
      width: calc(25% - 10px);
    }
  }

  & img {
    max-width: 100%;
    height: auto;
  }
}
