/* News
   ========================================================================== */

.knowledge-base {
  padding-top: 20px;

  @nest .is-cart-open & {
    @media (max-width: 767px) {
      display: none;
    }
  }
}

.knowledge-base__title {
  margin: 0 0 20px;
  font-size: 30px;
  line-height: 1.13333333;
  text-transform: uppercase;

  @media (min-width: 768px) {
    font-size: 50px;
    line-height: 1.16;
  }
}
