/* Mission
   ========================================================================== */

.mission {
  border-top: 1px solid var(--black-color);
  padding: 55px 0 80px;
  text-align: center;

  @media (min-width: 768px) {
    padding: 75px 0 130px;
  }

  &:before {
    content: '';
    display: block;
    background-image: url(../images/ok.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 54px;
    height: 72px;
    margin: 0 auto 20px;

    @media (min-width: 768px) {
      margin-bottom: 18px;
      width: 62px;
      height: 82px;
    }
  }
}

.mission__title {
  margin-bottom: 15px;
  font-size: 12px;
  left: 1.41666667;

  @media (min-width: 768px) {
    margin-bottom: 10px;
    font-size: 15px;
    line-height: 2;
  }
}

.mission__text {
  max-width: 740px;
  margin: 0 auto;
  font-size: 20px;
  line-height: 1.25;

  @media (min-width: 768px) {
    font-size: 25px;
    line-height: 1.2;
  }
}
