/* Mobile menu
   ========================================================================== */

.mobile-menu {
  background-color: var(--white-color);
  border-bottom: 1px solid var(--black-color);
  position: absolute;
  padding: 30px 20px;
  top: 100%;
  left: -20px;
  right: -20px;
  
  @media (min-width: 768px) {
    left: 0;
    right: 0;
  }

  @media (min-width: 1000px) {
    display: none;
  }
}

.mobile-menu--hidden {
  display: none;
}

.mobile-menu__list {
  font-size: 15px;
  line-height: 2.33333333;

  & a {
    text-decoration: none;
  }
}

.mobile-menu__lang {
  margin-top: 30px;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;

  @media (min-width: 768px) {
    display: none;
  }

  & li {
    margin-right: 20px;
  }

  & a {
    text-decoration: none;
  }

  & .mobile-menu__lang-active {
    text-decoration: underline;
    pointer-events: none;
  }
}