/* News
   ========================================================================== */

.news {
  padding-top: 20px;
  padding-bottom: 130px;

  @media (min-width: 768px) {
    padding-bottom: 200px;
  }

  @nest .is-cart-open & {
    @media (max-width: 767px) {
      display: none;
    }
  }
}

.news__title {
  margin: 0 0 20px;
  font-size: 30px;
  line-height: 1.13333333;
  text-transform: uppercase;

  @media (min-width: 768px) {
    font-size: 50px;
    line-height: 1.16;
  }
}

.news__tags {
  margin: 0 -20px 25px;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  @media (min-width: 768px) {
    margin: 0 0 25px;
    flex-wrap: wrap;
  }

  & li {
    margin-right: 5px;
    margin-bottom: 10px;
    white-space: nowrap;

    &:first-child {
      padding-left: 20px;

      @media (min-width: 768px) {
        padding-left: 0;
      }
    }
    
    &:last-child {
      padding-right: 20px;
      margin-right: 0;

      @media (min-width: 768px) {
        padding-right: 0;
      }
    }
  }
}

.news__tag {
  display: inline-block;
  border: 1px solid var(--black-color);
  height: 32px;
  padding: 0 20px;
  font-family: 'Apercu Pro Mono';
  font-size: 15px;
  line-height: 2;
  border-radius: 16px;
  vertical-align: top;
  text-decoration: none;

  &:hover,
  &:focus {
    color: var(--black-color);
    text-decoration: none;
  }
}

.news__tag--active {
  background-color: var(--black-color);
  color: var(--white-color);
  text-decoration: none;
  pointer-events: none;
}

.news__more {
  text-align: center;

  & .btn {
    width: 100%;

    @media (min-width: 768px) {
      width: 366px;
    }
  }
}

.news-list {
  @media (min-width: 768px) {
    margin-left: -11px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: flex-start;
  }
}

.news-card {
  width: 100%;
  margin-bottom: 60px;

  @media (min-width: 768px) {
    width: calc(50% - 11px);
    margin-left: 11px;
  }

  @media (min-width: 1000px) {
    width: calc(33.33% - 11px);
  }
}

.news-card__img {
  border: 1px solid var(--black-color);
  margin-bottom: 15px;

  & img {
    max-width: 100%;
    height: auto;
  }
}

.news-card__title {
  font-size: 25px;
  line-height: 1.2;

  & a {
    text-decoration: none;
  }
}

.news-card__tag {
  margin-top: 12px;
  font-family: 'Apercu Pro Mono';
  font-size: 15px;
  line-height: 1.333333333;
}
