/* Page
   ========================================================================== */

.page {
  padding-top: 20px;
  padding-bottom: 100px;

  @media (min-width: 768px) {
    padding-bottom: 200px;
  }

  @nest .is-cart-open & {
    @media (max-width: 767px) {
      display: none;
    }
  }
}

.page__wrap {
  max-width: 740px;
}

.page__title {
  margin: 0 0 20px;
  font-size: 30px;
  line-height: 1.13333333;
  text-transform: uppercase;

  @media (min-width: 768px) {
    font-size: 50px;
    line-height: 1.16;
  }
}

.page__description {
  font-size: 20px;
  line-height: 1.25;

  & p,
  & ul,
  & ol {
    margin: 25px 0;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  & h2,
  & h3,
  & h4 {
    margin: 80px 0 40px;
    font-size: 15px;
    line-height: 1.3333333;
    text-transform: uppercase;
    text-align: center;

    @media (min-width: 768px) {
      margin: 130px 0 60px;
    }

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  & img {
    max-width: 100%;
    height: auto;
  }
}
