/* Product
   ========================================================================== */

.product {
  padding-top: 20px;

  @nest .is-cart-open & {
    @media (max-width: 767px) {
      display: none;
    }
  }
}

.product__section {
  border-bottom: 1px solid var(--black-color);
  padding-bottom: 60px;
  margin-bottom: 30px;

  @media (min-width: 768px) {
    padding-bottom: 90px;
  }
}

.product__section--main {
  border-bottom: 0;
  margin-bottom: 0;

  @media (min-width: 768px) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
  }
}

.product__gallery {
  position: relative;

  @media (min-width: 768px) {
    position: sticky;
    width: calc(100% - 300px);
    padding-right: 40px;
    top: 83px;
  }

  @media (min-width: 1000px) {
    width: calc(100% - 468px);
  }

  @media (min-width: 1200px) {
    width: 554px;
    margin-right: auto;
  }

  & .swiper-slide {
    border: 1px solid var(--black-color);
  }

  & .swiper-button-prev,
  & .swiper-button-next {
    background-image: url(../images/slider_arrow.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 100%;
    position: absolute;
    width: 12px;
    height: 22px;
    margin-top: -11px;
    top: 50%;

    &:focus {
      outline: 0;
    }
  }

  & .swiper-button-prev {
    left: 10px;
    transform: scaleX(-1);

    @media (min-width: 768px) {
      left: 20px;
    }
  }
  
  & .swiper-button-next {
    right: 10px;

    @media (min-width: 768px) {
      right: 20px;
    }
  }

  & .swiper-button-disabled {
    opacity: 0.2;
  }

  & .swiper-pagination {
    position: relative;
    height: 12px;
    margin-top: 20px;
    bottom: 0;
    line-height: 12px;
    text-align: center;
  }

  & .swiper-pagination-bullet {
    border: 1px solid var(--black-color);
    background-color: transparent;
    width: 12px;
    height: 12px;
    margin: 0 7px;
    border-radius: 50%;
    opacity: 1;
  }
  
  & .swiper-pagination-bullet-active {
    background-color: var(--black-color);
  }

  & img {
    max-width: 100%;
    height: auto;
  }
}

.product__info {
  @media (min-width: 768px) {
    width: 300px;
  }

  @media (min-width: 1000px) {
    width: 468px;
  }
}

.product__title {
  margin: 30px 0 10px;
  font-size: 30px;
  line-height: 1.13333333;
  text-transform: uppercase;

  @media (min-width: 768px) {
    margin: 0;
  }

  @media (min-width: 1000px) {
    font-size: 50px;
    line-height: 1.16;
  }
}

.product__type {
  font-family: 'Apercu Pro Mono';
  font-size: 15px;
  line-height: 1.666666667;
}

.product__buy {
  border-top: 1px solid var(--black-color);
  padding-top: 30px;
  margin-top: 30px;

  & .product__input {
    border: 1px solid var(--black-color);
    width: 64px;
    height: 32px;
    padding: 0 10px;
    text-align: center;
    border-radius: 16px;
  }
}

.product__buy-section {
  margin-top: 22px;

  @media (min-width: 768px) {
    margin-top: 30px;
  }
  
  @media (min-width: 1000px) {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
  }

  &:first-child {
    margin-top: 0;
  }
}

.product__variants {
  margin-right: 40px;
}

.product__buy-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;

  @media (min-width: 1000px) {
    width: 280px;
    margin-left: auto;
    flex: 0 0 auto;
  }
}

.product__buy-content--radio {
  margin-left: -6px;
  margin-top: -6px;

  @media (min-width: 1000px) {
    width: 286px;
    margin-left: auto;
  }
}

.product__group {
  margin-bottom: 6px;
  font-size: 15px;
  line-height: 1.466666667;

  @media (min-width: 1000px) {
    margin-top: 4px;
    margin-bottom: 0;
  }
}

.product__radio {
  display: inline-block;
  position: relative;
  width: calc(50% - 6px);
  margin-left: 6px;
  margin-top: 6px;
  cursor: pointer;
  vertical-align: top;

  & input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;

    &:checked + span {
      background-color: var(--black-color);
      color: var(--white-color);
    }
  }

  & span {
    display: block;
    border: 1px solid var(--black-color);
    height: 32px;
    padding: 0 20px;
    font-size: 15px;
    line-height: 2;
    text-align: center;
    border-radius: 16px;
  }
}

.product__radio--disabled {
  opacity: 0.4;
  pointer-events: none;
}

.product__options {
  width: 100%;
  margin-top: 20px;

  @media (min-width: 1000px) {
    width: auto;
    margin-top: 0;
    margin-left: auto;
  }
}

.product__option {
  position: relative;
  border: 1px solid var(--black-color);
  width: 100%;
  height: 32px;
  line-height: 2;
  padding: 0 30px 0 20px;
  border-radius: 16px;

  &:after {
    content: '';
    display: block;
    position: absolute;
    background-image: url(../images/arrow.svg);
    background-repeat: no-repeat;
    width: 10px;
    height: 6px;
    margin-top: -3px;
    right: 20px;
    top: 50%;
  }
}

.product__option-value {
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.product__select {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 16px;
  opacity: 0;
  cursor: pointer;
}

.product__qty-btns {
  width: 100%;
  margin-left: -6px;
  margin-bottom: 10px;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: stretch;
}

.qty-btn {
  position: relative;
  width: calc(33.33% - 6px);
  padding: 26px 18px 10px;
  margin-left: 6px;
  cursor: pointer;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: center;

  & input {
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    opacity: 0;

    &:checked {
      & + .qty-btn__icon {
        &:before {
          background-color: var(--black-color);
        }
        
        & .icon-package {
          background-image: url(../images/package_w.svg);
        }
      }

      & ~ .qty-btn__title,
      & ~ .qty-btn__tip {
        color: var(--white-color);
      }
    }
  }
}

.qty-btn__icon {
  text-align: center;

  &:before {
    content: '';
    display: block;
    position: absolute;
    border: 1px solid var(--black-color);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 16px;
    z-index: -1;
  }
}

.icon-package {
  position: relative;
  background-image: url(../images/package.svg);
  width: 29px;
  height: 34px;
  margin-left: -25px;

  &:first-child {
    margin-left: 0;
  }

  &:nth-of-type(1) {
    z-index: 3;
  }
  
  &:nth-of-type(2) {
    z-index: 2;
  }
  
  &:nth-of-type(3) {
    z-index: 1;
  }
}

.qty-btn__title {
  margin-top: 4px;
  font-size: 15px;
  line-height: 1.33333333;
}

.qty-btn__tip {
  /* display: none; */
  font-size: 11px;
  line-height: 1;
  opacity: 0.5;
  text-align: center;
}

.product__qty-custom {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: center;

  & span {
    margin-right: 10px;
  }
}

.product__total {
  width: 100%;
  margin-top: 30px;

  @media (min-width: 1000px) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: center;
  }
}

.product__choose-tip {
  width: 100%;
  margin-top: 10px;
  font-size: 13px;

  @media (min-width: 1000px) {
    width: auto;
    min-width: 280px;
    margin-left: auto;
    text-align: center;
  }
}

.product__total--out-of-stock {
  margin-top: 0;
}

.product__price {
  position: relative;
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 1;

  @media (min-width: 1000px) {
    margin-bottom: 0;
  }
}

.product__price-old {
  position: absolute;
  bottom: 100%;
  left: 0;
  color: var(--blue-color);
  font-size: 15px;
  line-height: 1.46666667;
  text-decoration: none;

  &:after {
    content: '';
    display: block;
    position: absolute;
    background-color: var(--black-color);
    height: 1px;
    top: 50%;
    left: 0;
    right: 0;
  }
}

.product__add {
  @media (min-width: 1000px) {
    width: 280px;
    margin-left: auto;
  }
}

.product__btn {
  width: 100%;
  text-align: center;

  &[disabled] {
    opacity: 0.3;
    cursor: default;
  }
}

.product__tip {
  border-top: 1px solid var(--black-color);
  padding-top: 30px;
  margin-top: 30px;
  font-size: 15px;
  line-height: 1.466666667;
}

.product__subtitle {
  margin-bottom: 30px;
  font-size: 20px;
  line-height: 1.25;
  text-align: center;
}

.product__content {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: stretch;

  @media (min-width: 1000px) {
    flex-direction: row;
    align-items: flex-start;
  }
}

.product__description {
  font-size: 15px;
  line-height: 1.466666667;
  order: 1;

  @media (min-width: 1000px) {
    width: calc(100% - 400px);
    padding-right: 40px;
    order: 0;
  }

  @media (min-width: 1200px) {
    width: 560px;
    padding-right: 0;
    margin-right: auto;
  }

  & p,
  & ul,
  & ol {
    margin: 22px 0;
  }

  & :first-child {
    margin-top: 0;
  }

  & :last-child {
    margin-bottom: 0;
  }
}

.product__additional {
  border: 1px solid var(--black-color);
  padding: 20px;
  margin-bottom: 30px;

  @media (min-width: 1000px) {
    width: 400px;
    margin-bottom: 0;
  }

  @media (min-width: 1200px) {
    width: 460px;
  }
}

.product__additional-head {
  margin-bottom: 30px;
  font-family: 'Apercu Pro Mono';
  font-size: 15px;
  line-height: 1.466666667;
  text-transform: uppercase;
}

.product__additional-param {
  margin-top: 10px;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: flex-start;

  &:first-child {
    margin-top: 0;
  }
}

.product__additional-param--taste {
  margin-top: 20px;
}

.product__additional-param-title {
  width: 100px;
  padding-right: 10px;
  font-size: 12px;
  line-height: 1.833333333;
  flex: 0 0 auto;
}

.product__additional-param-value {
  width: calc(100% - 100px);
  font-family: 'Apercu Pro Mono';
  font-size: 15px;
  line-height: 1.466666667;
}

.product__additional-tags {
  margin-top: 30px;

  & span {
    display: block;
    margin-top: 2px;

    @media (min-width: 768px) {
      display: inline-block;
      margin-top: 0;
      margin-right: 8px;
    }
  }
}

.product__delivery {
  counter-reset: delivery;

  @media (min-width: 1000px) {
    margin: 0 -20px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
  }

  & li {
    margin-top: 40px;
    font-size: 15px;
    line-height: 1.4666666667;
    counter-increment: delivery;

    @media (min-width: 1000px) {
      width: 33.33%;
      padding: 0 20px;
    }

    &:first-child {
      margin-top: 0;
    }

    &:nth-of-type(2) {
      @media (min-width: 1000px) {
        margin-top: 34px;
      }
    }
    
    &:nth-of-type(3) {
      @media (min-width: 1000px) {
        margin-top: 68px;
      }
    }

    &:before {
      content: counter(delivery);
      background-color: var(--black-color);
      display: block;
      width: 24px;
      height: 24px;
      margin-bottom: 10px;
      color: var(--white-color);
      font-size: 15px;
      line-height: 1.6;
      text-align: center;
      border-radius: 12px;
    }
  }
}

.product__delivery-title {
  display: block;
  margin-bottom: 8px;
  text-transform: uppercase;

  & small {
    font-size: 100%;
    text-transform: none;
    white-space: nowrap;
  }
}

.product__delivery-tip {
  display: block;
}

.product__section--related {
  border-bottom: 0;
  padding-top: 60px;
  padding-bottom: 0;
  margin-bottom: 0;

  & .product-card:last-child {
    margin-bottom: 0;

    @media (min-width: 768px) and (max-width: 999px) {
      display: none;
    }
  }
}
