/* Products list
   ========================================================================== */

.products-list {
  @media (min-width: 550px) {
    margin-left: -11px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: flex-start;
  }

  @nest .special & {
    @media (min-width: 768px) {
      padding-bottom: 215px;
      margin-left: 0;
    }
  }
}

.product-card {
  position: relative;
  width: 100%;
  margin-bottom: 60px;

  @media (min-width: 550px) {
    width: calc(50% - 11px);
    margin-left: 11px;
    margin-bottom: 70px;
  }

  @media (min-width: 1000px) {
    width: calc(33.33% - 11px);
  }

  @nest .special & {
    margin-top: 60px;
    margin-bottom: 0;

    @media (min-width: 768px) {
      width: calc(50% - 60px);
      margin: 100px 30px 0;
    }

    @media (min-width: 1000px) {
      width: 366px;
      margin: 100px 54px 0;
    }

    @media (min-width: 1200px) {
      margin: 100px 97px 0;
    }
  }

  &:nth-of-type(2n) {
    @nest .special & {
      @media (min-width: 768px) {
        top: 215px;
      }
    }
  }
}

.product-card__img {
  border: 1px solid var(--black-color);
  position: relative;

  @nest .special--products & {
    @media (max-width: 767px) {
      margin-right: 22px;
    }
  }

  & a:hover + .product-card__info,
  & a:focus + .product-card__info {
    @nest .is-desktop & {
      display: flex;
    }
  }

  & img {
    width: 100%;
    height: auto;
  }
}

.product-card__type {
  position: absolute;
  left: 12px;
  bottom: 10px;
  font-family: 'Apercu Pro Mono';
  text-transform: lowercase;
  pointer-events: none;
}

.product-card__info {
  display: none;
  position: absolute;
  background-color: var(--light-blue-color);
  padding: 20px 20px 28px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  z-index: 2;

  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
}

.product-card__info-head {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center
}

.product-card__info-title {
  max-width: 80%;
  font-family: 'Apercu Pro Mono';
  font-size: 15px;
  line-height: 1.466666667;
}

.product-card__info-tip {
  margin-left: auto;
  font-size: 12px;
  line-height: 1.166666667;
}

.product-card__info-params {
  margin-top: 40px;
}

.product-card__info-param {
  margin-top: 10px;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: baseline;

  &:first-child {
    margin-top: 0;
  }
}

.product-card__info-param--taste {
  margin-top: 20px;
}

.product-card__info-param-title {
  width: 100px;
  padding-right: 10px;
  font-size: 12px;
  line-height: 1.833333333;
}

.product-card__info-param-value {
  width: calc(100% - 100px);
  font-family: 'Apercu Pro Mono';
  font-size: 15px;
  line-height: 1.466666667;
  text-transform: uppercase;
}

.product-card__info-bottom {
  margin-top: auto;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}

.product-card__info-roasted {
  width: 66px;
  margin-left: auto;
  font-size: 12px;
  line-height: 1.166666667;
  text-align: center;

  & span {
    display: block;
    text-align: left;
  }
}

.icon-espresso {
  background-image: url(../images/espresso.svg);
  width: 55px;
  height: 12px;
}

.icon-filter {
  background-image: url(../images/filter.svg);
  width: 34px;
  height: 37px;
}

.product-card__category {
  position: absolute;
  top: 0;
  right: -5px;
  writing-mode: vertical-lr;

  @media (min-width: 768px) {
    left: calc(100% + 5px);
    right: auto;
  }
}

.product-card__title {
  margin-top: 15px;
  font-size: 30px;
  line-height: 1;
  text-transform: uppercase;

  & a {
    text-decoration: none;
  }
}

.product-card__buy,
.product-card__more {
  margin-top: 10px;
  font-size: 15px;
  line-height: 1.666666667;
}

.product-card__more {
  font-family: 'Apercu Pro Mono';
}

.product-card__buy {
  @media (min-width: 1000px) {
    margin-top: 15px;
  }
}

.product-card__variants {
  margin-bottom: 10px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
}

.product-card__radio {
  position: relative;
  margin-right: 10px;
  cursor: pointer;

  & input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;

    &:checked + span {
      background-color: var(--black-color);
      color: var(--white-color);
    }
  }

  & span {
    display: inline-block;
    border: 1px solid var(--black-color);
    height: 32px;
    padding: 0 16px;
    font-size: 15px;
    line-height: 2;
    border-radius: 16px;
    vertical-align: top;
  }
}

.product-card__radio--disabled {
  opacity: 0.4;
  pointer-events: none;
}

.product-card__btn {
  border: 0;
  background-color: transparent;
  padding: 0;
  color: var(--blue-color);
  font-family: 'Apercu Pro Mono';
  font-size: 15px;
  text-decoration: none;
  cursor: pointer;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}
