/* Questions
   ========================================================================== */

.questions {
  border-top: 1px solid var(--black-color);
  padding-top: 40px;
  margin-top: 130px;
  margin-bottom: 80px;

  @media (min-width: 768px) {
    position: relative;
    border-bottom: 1px solid var(--black-color);
    width: 470px;
    padding-top: 20px;
    padding-bottom: 80px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  @media (min-width: 1000px) {
    margin-left: 90px;
  }

  &:before {
    content: '';
    display: block;
    background-image: url(../images/phone.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 72px;
    height: 71px;
    margin: 0 auto 40px;

    @media (min-width: 768px) {
      position: absolute;
      width: 103px;
      height: 101px;
      left: calc(100% + 100px);
      margin: 0;
    }
  }
}

.questions__title {
  margin-bottom: 20px;
  font-size: 20px;
  line-height: 1.25;
}

.questions__tip {
  @media (min-width: 768px) {
    margin-left: auto;
  }
}

.questions__contacts {
  font-size: 15px;
  line-height: 2;

  & li:last-child {
    margin-top: 10px;
  }

  & a {
    color: var(--blue-color);
    text-decoration: none;

    &:hover,
    &:focus {
      color: var(--blue-color);
      text-decoration: underline;
    }
  }
}
