/* School
   ========================================================================== */

.school {
  padding-top: 20px;

  @nest .is-cart-open & {
    @media (max-width: 767px) {
      display: none;
    }
  }
}

.school__title {
  margin: 0 0 20px;
  font-size: 30px;
  line-height: 1.13333333;
  text-transform: uppercase;

  @media (min-width: 768px) {
    font-size: 50px;
    line-height: 1.16;
  }
}

.school__img {
  margin-bottom: 80px;

  & img {
    width: 100%;
    height: 62.5vw;
    object-fit: cover;

    @media (min-width: 768px) {
      height: auto;
    }
  }
}

.school__text {
  max-width: 740px;
  margin: 0 auto 80px;
  text-align: center;

  @media (min-width: 768px) {
    margin: 0 auto 120px;
  }
}

.shool__tip {
  margin-bottom: 15px;
  font-size: 12px;
  line-height: 1.41666667;

  @media (min-width: 768px) {
    font-size: 15px;
    line-height: 1;
  }
}

.school__description {
  font-size: 20px;
  line-height: 1.25;

  @media (min-width: 768px) {
    font-size: 25px;
    line-height: 1.2;
  }
}

.master-classes {
  border-top: 1px solid var(--black-color);
  padding-top: 30px;
  margin-bottom: 50px;

  @media (min-width: 768px) {
    margin-bottom: 140px;
  }
}

.master-classes__title {
  margin-bottom: 60px;
  font-size: 20px;
  line-height: 1.25;
  text-align: center;

  @media (min-width: 768px) {
    margin-bottom: 100px;
    font-size: 25px;
    line-height: 1.2;
  }
}

.master-classes__list {
  @media (min-width: 550px) {
    margin-left: -10px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: stretch;
  }
}

.master-class-card {
  border: 1px solid var(--black-color);
  min-height: 87.5vw;
  padding: 20px;
  margin-bottom: 30px;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: stretch;

  @media (min-width: 550px) {
    width: calc(50% - 10px);
    min-height: 340px;
    margin-left: 10px;
    margin-bottom: 10px;
  }

  @media (min-width: 768px) {
    padding: 30px 30px 25px;
  }

  @media (min-width: 1000px) {
    width: calc(33.33% - 10px);
  }
}

.master-class-card__title {
  margin-bottom: 20px;
  font-size: 25px;
  line-height: 1.2;
  text-transform: uppercase;

  @media (min-width: 768px) {
    font-size: 30px;
    line-height: 1.266666667;
    letter-spacing: 0.5px;
  }
}

.master-class-card__details {
  margin-bottom: 20px;
}

.master-class-card__more {
  margin-top: auto;
  font-family: 'Apercu Pro Mono';
  text-align: right;

  & a {
    color: var(--blue-color);
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}

.courses {
  margin-bottom: 70px;

  @media (min-width: 768px) {
    margin-bottom: 140px;
  }
}

.courses__title {
  margin-bottom: 30px;
  font-size: 20px;
  line-height: 1.25;
  text-align: center;

  @media (min-width: 768px) {
    font-size: 25px;
    line-height: 1.2;
  }
}

.course-card {
  border: 1px solid var(--black-color);
  padding: 20px;
  margin-bottom: 30px;

  @media (min-width: 768px) {
    margin-bottom: 10px;
  }

  @media (min-width: 1000px) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
  }
}

.course-card__title {
  margin-bottom: 20px;
  font-size: 25px;
  line-height: 1.2;
  text-transform: uppercase;

  @media (min-width: 768px) {
    font-size: 30px;
    line-height: 1.266666667;
    letter-spacing: 0.5px;
  }

  @media (min-width: 1000px) {
    width: 420px;
    padding-right: 20px;
    margin-bottom: 58px;
  }
}

.course-card__description {
  display: none;

  @media (min-width: 768px) {
    display: block;
    margin-bottom: 20px;
  }

  @media (min-width: 1000px) {
    width: calc(100% - 420px);
    margin-bottom: 58px;
  }
}

.course-card__details {
  font-size: 15px;
  line-height: 1.3333333;
  letter-spacing: 0.5px;

  @media (min-width: 768px) {
    margin-bottom: 20px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
  }

  @media (min-width: 1000px) {
    width: 420px;
    margin-bottom: 0;
  }

  & div {
    margin-bottom: 20px;

    @media (min-width: 768px) {
      margin-right: 30px;
      margin-bottom: 0;
    }
  }
}

.course-card__extras {
  font-size: 15px;
  line-height: 1.3333333;
  letter-spacing: 0.5px;

  @media (min-width: 768px) {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
  }

  @media (min-width: 1000px) {
    width: calc(100% - 420px);
  }
}

.course-card__author {
  margin-bottom: 20px;

  @media (min-width: 768px) {
    margin-bottom: 0;
    margin-right: 30px;
  }
}

.course-card__start {
  margin-bottom: 30px;

  @media (min-width: 768px) {
    margin-bottom: 0;
  }
}

.course-card__more {
  margin-top: auto;
  font-family: 'Apercu Pro Mono';
  text-align: right;

  @media (min-width: 768px) {
    margin-left: auto;
    margin-top: 0;
  }

  & a {
    color: var(--blue-color);
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}

.school__extra {
  margin-bottom: 100px;

  @media (min-width: 768px) {
    margin-bottom: 150px;
  }

  @media (min-width: 1000px) {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: flex-start;
    align-items: flex-start;
  }
}

.school__extra-title {
  margin-bottom: 20px;
  font-size: 15px;
  line-height: 1.46666667;
  text-transform: uppercase;

  @media (min-width: 1000px) {
    width: calc(100% - 554px);
    padding-right: 20px;
  }
}

.school__extra-description {
  font-size: 15px;
  line-height: 1.46666667;

  @media (min-width: 1000px) {
    width: 554px;
  }

  & p,
  & ul,
  & ol {
    margin: 22px 0;

    &:first-child {
      margin-top: 0;
    }
    
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.lectors {
  margin-bottom: 150px;

  @media (min-width: 768px) {
    margin-bottom: 200px;
  }

  @nest .lectors--about& {
    margin-bottom: 100px;

    @media (min-width: 1000px) {
      width: 50%;
      margin-bottom: 0;
    }
  }
}

.lectors__title {
  margin-bottom: 20px;
  font-size: 20px;
  line-height: 1.25;
  text-align: center;

  @media (min-width: 768px) {
    border-bottom: 1px solid var(--black-color);
    padding-bottom: 30px;
    margin-bottom: 30px;
    font-size: 25px;
    line-height: 1.2;
    text-align: left;
  }

  @nest .lectors--about & {
    border-bottom: 1px solid var(--black-color);
    padding-bottom: 30px;

    @media (min-width: 768px) {
      padding-bottom: 20px;
      margin-bottom: 20px;
    }
  }
}

.lectors__list {
  margin: 0 -20px;
  overflow-x: auto;
  overflow-y: hidden;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;

  @media (min-width: 768px) {
    margin: 0 0 0 -10px;
    flex-wrap: wrap;
  }

  @nest .lectors--about & {
    margin: 0;
    overflow: visible;
    flex-wrap: wrap;

    @media (min-width: 768px) {
      margin: 0 0 0 -10px;
    }
  }
}

.lector-card {
  width: 200px;
  margin-left: 10px;
  flex: 0 0 auto;

  @media (min-width: 768px) {
    width: calc(33.33% - 10px);
    margin-top: 10px;
  }

  @media (min-width: 1000px) {
    width: calc(25% - 10px);
  }

  &:first-child {
    @media (max-width: 767px) {
      width: 220px;
      padding-left: 20px;
      margin-left: 0;
    }
  }

  &:last-child {
    @media (max-width: 767px) {
      width: 220px;
      padding-right: 20px;
    }
  }

  @nest .lectors--about & {
    width: 100%;
    padding: 0;
    margin-left: 0;
    margin-top: 30px;

    @media (min-width: 768px) {
      width: calc(33.33% - 10px);
      margin-top: 10px;
      margin-left: 10px;
    }

    @media (min-width: 1000px) {
      width: calc(50% - 10px);
    }
  }
}

.lector-card__photo {
  margin-bottom: 20px;

  & img {
    max-width: 100%;
    height: auto;

    @nest .lectors--about & {
      max-width: none;
      width: 100%;
    }
  }
}

.lector-card__title {
  margin-bottom: 4px;
  font-size: 15px;
  line-height: 1.46666667;
  text-transform: uppercase;
}

.lector-card__bio {
  font-size: 15px;
  line-height: 1.46666667;
  
  & p,
  & ul,
  & ol {
    margin: 22px 0;

    &:first-child {
      margin-top: 0;
    }
    
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.lector-card__social {
  margin-top: 10px;
  font-size: 15px;
  line-height: 1.46666667;

  & a {
    color: var(--blue-color);
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}
