/* Special
   ========================================================================== */

.special {
  border-top: 1px solid var(--black-color);
  padding-top: 20px;
  padding-bottom: 100px;

  @media (min-width: 768px) {
    padding-top: 30px;
    padding-bottom: 160px;
  }

  @nest .special--coffee& {
    border-top: 0;
    padding-top: 0;
    padding-bottom: 130px;

    @media (min-width: 768px) {
      padding-bottom: 200px;
    }
  }
}

.special__title {
  font-size: 20px;
  line-height: 1.25;
  text-align: center;

  @media (min-width: 768px) {
    font-size: 25px;
    line-height: 1;
  }

  @nest .special--coffee & {
    border-bottom: 1px solid var(--black-color);
    padding-bottom: 20px;

    @media (min-width: 768px) {
      padding-bottom: 30px;
    }
  }
}

.special__more {
  margin-top: 60px;
  text-align: center;

  @media (min-width: 768px) {
    margin-top: 85px;
  }

  & .btn {
    height: 46px;
    padding: 0 22px;
    font-size: 15px;
    line-height: 3.066666667;
    border-radius: 23px;
  }
}

.info-block {
  border-bottom: 1px solid var(--black-color);
  padding: 20px 0;

  @media (min-width: 768px) {
    padding: 10px 0;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
  }
}

.info-block--knowledge-base-category {
  padding: 30px 0;

  @media (min-width: 768px) {
    padding: 10px 0;
  }

  &:first-child {
    border-top: 1px solid var(--black-color);
  }

  &:before {
    @media (max-width: 767px) {
      content: attr(data-title);
      display: block;
      margin-bottom: 20px;
      font-size: 30px;
      line-height: 1;
      text-transform: uppercase;
    }
  }
}

.info-block__img {
  margin-bottom: 15px;

  @media (min-width: 768px) {
    width: 50%;
    margin-bottom: 0;
  }

  @nest .info-block--knowledge-base & {
    @media (min-width: 768px) {
      order: 1;
    }
  }

  @nest .info-block--knowledge-base-category:nth-of-type(even) & {
    @media (min-width: 768px) {
      order: 1;
    }
  }

  & img {
    width: 100%;
    height: auto;
  }
}

.info-block__content {
  @media (min-width: 768px) {
    width: 50%;
    padding-right: 30px;
  }

  @media (min-width: 1000px) {
    padding-right: 54px;
  }
  
  @media (min-width: 1200px) {
    padding-right: 97px;
  }
  
  @nest .info-block--school &,
  .info-block--knowledge-base-category:nth-of-type(odd) & {
    @media (min-width: 768px) {
      padding-left: 30px;
      padding-right: 0;
    }
    
    @media (min-width: 1000px) {
      padding-left: 54px;
    }
    
    @media (min-width: 1200px) {
      padding-left: 97px;
    }
  }
}

.info-block__title {
  margin-bottom: 15px;
  font-size: 30px;
  line-height: 1;
  text-transform: uppercase;

  @nest .info-block--knowledge-base-category & {
    @media (max-width: 767px) {
      display: none;
    }
  }
}

.info-block__tip {
  max-width: 360px;
}

.info-block__btn {
  margin-top: 20px;

  & .btn {
    height: 46px;
    padding: 0 22px;
    font-size: 15px;
    line-height: 3.066666667;
    border-radius: 23px;
  }
}

.info-block__list {
  margin-top: 10px;
  font-size: 15px;
  line-height: 2;

  & a {
    display: inline-block;
    color: var(--blue-color);
    text-decoration: none;
    vertical-align: top;

    &:hover,
    &:focus {
      text-decoration: none;

      @media (min-width: 768px) {
        transform: translate3d(20px,0,0);
      }
    }

    &:before {
      content: '';
      display: inline-block;
      background-image: url(../images/base_arrow.svg);
      background-repeat: no-repeat;
      width: 11px;
      height: 9px;
      margin-right: 8px;
      margin-top: -2px;
      vertical-align: middle;
    }
  }
}
