/* Subscribe
   ========================================================================== */

.subscribe {
  position: relative;
  margin-bottom: 110px;
  z-index: 1;

  @media (min-width: 768px) {
    margin-bottom: 90px;
  }

  @media (min-width: 1000px) {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  @nest .thank-you & {
    margin-top: 60px;
    margin-bottom: 0;

    @media (min-width: 768px) {
      margin-left: 200px;
    }

    @media (min-width: 1000px) {
      margin-left: 0;
    }
  }

  &:before {
    content: '';
    display: block;
    background-image: url(../images/ok.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 54px;
    height: 72px;
    margin: 0 auto 50px;

    @media (min-width: 768px) {
      position: absolute;
      width: 78px;
      height: 104px;
      top: 50%;
      right: 100px;
      margin: -52px 0 0;
    }

    @nest .thank-you & {
      display: none;
    }
  }
}

.subscribe__title {
  margin-bottom: 20px;
  font-size: 20px;
  line-height: 1.25;

  @media (min-width: 1000px) {
    width: 280px;
    
    @nest .thank-you & {
      font-size: 25px;
      line-height: 0.8;  
    }
  }
}

.subscribe__special {
  font-size: 15px;
  line-height: 1.666666667;

  @media (min-width: 768px) {
    line-height: 2;
  }

  & li {
    margin-top: 10px;

    @media (min-width: 768px) {
      margin-top: 0;
    }

    &:first-child {
      margin-top: 0;
    }
  }

  & a {
    color: var(--blue-color);
    text-decoration: none;

    &:hover,
    &:focus {
      color: var(--blue-color);
      text-decoration: underline;
    }
  }
}

.subscribe__group {
  position: relative;
  margin-top: 10px;

  @media (min-width: 768px) {
    width: 272px;
    margin-top: 14px;
  }

  & .subscribe__input {
    border: 1px solid var(--black-color);
    background-color: var(--white-color);
    width: 100%;
    height: 40px;
    padding: 0 60px 2px 20px;
    border-radius: 20px;
  }

  & .subscribe__btn {
    position: absolute;
    background-color: var(--black-color);
    border: 0;
    width: 40px;
    height: 40px;
    padding-bottom: 2px;
    top: 0;
    right: 0;
    color: var(--white-color);
    border-radius: 20px;
    cursor: pointer;
  }
}
