/* Thank you
   ========================================================================== */

.thank-you {
  padding-top: 40px;
  padding-bottom: 90px;

  @media (min-width: 768px) {
    padding-top: 100px;
    padding-bottom: 100px;
    min-height: calc(100vh - 77px - 40px);

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
  }
}

.thank-you__container {
  @media (min-width: 768px) {
    position: relative;
    max-width: 570px;
    margin-left: 200px;
  }

  @media (min-width: 1000px) {
    margin-left: 280px;
  }

  &:after {
    content: '';
    display: block;
    background-image: url(../images/heart.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 150px;
    height: 150px;
    margin: 40px auto 0;

    @media (min-width: 768px) {
      position: absolute;
      top: 10px;
      left: -200px;
      margin: 0;
    }

    @media (min-width: 1000px) {
      width: 170px;
      height: 170px;
      left: -280px;
    }
  }
}

.thank-you__title {
  margin: 0 0 10px;
  font-size: 30px;
  line-height: 1.13333333;
  text-transform: uppercase;

  @media (min-width: 768px) {
    margin-bottom: 20px;
    font-size: 50px;
    line-height: 1.16;
  }
}

.thank-you__tip {
  margin-bottom: 30px;
  font-size: 15px;
  line-height: 1.466666667;

  & a {
    color: var(--blue-color);
    text-decoration: none;
    white-space: nowrap;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}

.thank-you__back {
  & .btn {
    width: 100%;

    @media (min-width: 768px) {
      width: auto;
    }
  }
}
