/* Common styles (container, wraps, headers, tabs etc.)
   ========================================================================== */

.is-locked {
  @nest .is-mobile & {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
}

.container--hidden {
  display: none;
}

.wrap {
  padding: 0 20px;

  @media (min-width: 768px) {
    width: 750px;
    margin: 0 auto;
  }

  @media (min-width: 1000px) {
    width: 990px;
  }

  @media (min-width: 1200px) {
    width: 1160px;
  }
}

.custom-scrollbar {
  &.swiper-scrollbar {
    background-color: var(--black-color);
    position: relative;
    height: 1px;
    border-radius: 0;

    & .swiper-scrollbar-drag {
      background-color: var(--black-color);
      height: 1px;
      border-radius: 0;
    }
  }
}

.breadcrumbs {
  margin: 0 0 40px;

  & a {
    text-decoration: none;
  }
}

.home {
  @nest .is-cart-open & {
    @media (max-width: 767px) {
      display: none;
    }
  }
}

.icon,
.icon-inline,
.icon-responsive:before {
  /*background-image: url(../images/icons.png);*/
  background-repeat: no-repeat;
}

.icon {
  display: block;
  position: absolute;
}

.icon-inline {
  display: inline-block;
  vertical-align: middle;
}

.icon-inline.icon-responsive {
  background-image: none;
}

.icon-responsive:before {
  content: '';
  display: block;
  background-size: 100%;
}

.form {
  & .form__input {
    border: 1px solid var(--black-color);
    background-color: var(--white-color);
    width: 100%;
    height: 40px;
    padding: 0 20px 2px;
    font-family: 'Apercu Pro';
    font-size: 15px;
    border-radius: 20px;

    @nest .is-mac & {
      padding: 0 20px;
    }

    &[disabled] {
      opacity: 0.4;
    }

    &::placeholder {
      color: var(--black-color);
      font-family: 'Apercu Pro';
      font-size: 15px;
      opacity: .4;
    }
  }

  & .form__textarea {
    border: 1px solid var(--black-color);
    background-color: var(--white-color);
    width: 100%;
    padding: 10px 20px;
    font-size: 15px;
    border-radius: 20px;
    resize: none;

    &::placeholder {
      color: var(--black-color);
      font-family: 'Apercu Pro';
      font-size: 15px;
      opacity: 1;
    }
  }

  & .form__input--error {
    border-color: var(--error-color);

    &:focus {
      border-color: var(--error-color);
    }
  }
}

.form__row {
  margin-top: 20px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: flex-start;

  @media (min-width: 768px) {
    margin: 20px -5px 0;
  }

  &:first-child {
    margin-top: 0;
  }
}

.form__row--btn {
  margin-top: 40px;
}

.form__column {
  width: 100%;

  @media (max-width: 999px) {
    margin-top: 20px;

    &:first-child {
      margin-top: 0;
    }
  }

  @media (min-width: 768px) {
    padding: 0 5px;
    margin-top: 0;
  }
}

.form__column--33 {
  @media (min-width: 768px) {
    width: 33.33%;
  }
}

.form__column--50 {
  @media (min-width: 768px) {
    width: 50%;
  }
}

.form__column--66 {
  @media (min-width: 768px) {
    width: 66.67%;
  }
}

.form__label {
  display: inline-block;
  margin-bottom: 5px;
  font-size: 15px;
  line-height: 1.466666667;
  vertical-align: top;
}

.form__radio {
  display: inline-block;
  position: relative;
  padding-left: 35px;
  vertical-align: top;
  cursor: pointer;

  & input {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;

    &:checked + span:after {
      content: '';
      display: block;
      position: absolute;
      background-color: var(--black-color);
      width: 12px;
      height: 12px;
      top: 6px;
      left: 6px;
      border-radius: 50%;
    }
  }
  
  & span {
    display: inline-block;
    margin-top: 1px;
    font-size: 15px;
    line-height: 1.4666666667;
    vertical-align: top;

    &:before {
      content: '';
      display: block;
      position: absolute;
      border: 1px solid var(--black-color);
      width: 24px;
      height: 24px;
      top: 0;
      left: 0;
      border-radius: 50%;
    }
  }

  & ins {
    text-decoration: none;
  }
}

.form__radio-tip {
  margin-top: 4px;
  margin-left: 35px;
  font-size: 13px;
  line-height: 1.38461538;
}

.btn,
.form__btn {
  display: inline-block;
  border: 0;
  background-color: var(--black-color);
  min-width: 200px;
  height: 60px;
  padding: 0 30px;
  color: var(--white-color);
  font-family: 'Apercu Pro Mono';
  font-size: 15px;
  line-height: 4;
  text-decoration: none;
  text-align: center;
  border-radius: 30px;
  cursor: pointer;
  vertical-align: top;

  &:hover,
  &:focus {
    background-color: var(--black-color);
    color: var(--white-color);
    text-decoration: none;
  }

  &:focus {
    outline: 0;
  }
}

.form__btn {
  width: 100%;
  height: 60px;
  line-height: 4;
  border-radius: 30px;

  &[disabled] {
    opacity: 0.5;
    pointer-events: none;
  }
}

.form__btn--alt {
  background-color: var(--blue-color);
  color: var(--blue-color);

  &:hover,
  &:focus {
    background-color: var(--blue-color);
    color: var(--white-color);
  }
}

.form__checkbox {
  display: inline-block;
  position: relative;
  margin-left: 22px;
  color: var(--black-color);
  cursor: pointer;
  vertical-align: top;
  
  & input {
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    opacity: 0;

    &:checked + span:after {
      content: '';
      display: block;
      position: absolute;
      background-color: var(--black-color);
      width: 8px;
      height: 8px;
      left: -18px;
      top: 4px;
    }
  }

  & span {
    display: block;

    &:before {
      content: '';
      display: block;
      border: 1px solid var(--black-color);
      background-color: var(--white-color);
      position: absolute;
      width: 16px;
      height: 16px;
      top: 0;
      left: -22px;
    }
  }

  & a {
    color: var(--black-color);
    text-decoration: underline;

    &:hover,
    &:focus {
      color: var(--blue-color);
      text-decoration: underline;
    }
  }
}

.form__checkbox--disabled {
  opacity: 0.4;
  pointer-events: none;
}

.form__error {
  margin-top: 6px;
  color: var(--error-color);
  font-size: 13px;
  line-height: 1.23076923;
}

/* Placeholders
   ========================================================================== */

input::placeholder,
textarea::placeholder {
  color: #999;
  font-weight: 400;
  opacity: 1;
}
   