/* Fonts
    ========================================================================== */

/**
  * Apercu Pro
  */
@font-face {
  font-family: 'Apercu Pro';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('../fonts/ApercuPro-Light.woff2') format('woff2'),
       url('../fonts/ApercuPro-Light.woff') format('woff');
}

@font-face {
  font-family: 'Apercu Pro';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/ApercuPro.woff2') format('woff2'),
       url('../fonts/ApercuPro.woff') format('woff');
}

@font-face {
  font-family: 'Apercu Pro';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/ApercuPro-Bold.woff2') format('woff2'),
       url('../fonts/ApercuPro-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Apercu Pro Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/ApercuProMono.woff2') format('woff2'),
       url('../fonts/ApercuProMono.woff') format('woff');
}

/* Layout styles
   ========================================================================== */

/**
 * Apply box sizing 'border-box' to all elements and pseudo-elements
 */

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
}

html {
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
  min-width: 320px;
  color: var(--black-color);
  font-size: 15px;
  font-family: 'Apercu Pro', Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 1.466666667;
}

a {
  color: var(--black-color);
  text-decoration: underline;
}

a:hover,
a:focus {
  color: var(--blue-color);
  text-decoration: underline;
}

a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.opera a:focus {
  outline: 0;
}

figure {
  margin: 0;
}

img {
  vertical-align: middle;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
  font-weight: 400;
  line-height: 1.1;
  color: inherit;
}

/**
 * Remove box shadow and border radius on OS X
 */

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
  background-color: #fff;
  border: 1px solid #302f31;

  -webkit-appearance: none;
          border-radius: 0;
}

/**
 * Focus styles for input elements
 */

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus {
  outline: 0;
}

button:focus,
input[type="button"]:focus,
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

p {
  margin: 10px 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
}

ul ul,
ol ul,
ul ol,
ol ol {
  margin-bottom: 0;
}

.list-unstyled,
.list-inline {
  padding-left: 0;
  list-style: none;
}

.list-inline > li {
  display: inline-block;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

.text-nowrap {
   white-space: nowrap;
}

.text-upper {
  text-transform: uppercase;
}

.text-lower {
  text-transform: lowercase;
}

.error {
  color: var(--error-color);
}

/* Clearfix
   ========================================================================== */

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *contenteditable attribute is included anywhere else in the document.
 *Otherwise it causes space to appear at the top and bottom of elements
 *that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *`:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
  content: ' '; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

.clear-float {
  clear: both;
}