/* Variables
    ========================================================================== */

:root {
  --black-color: #000;
  --blue-color: #0098ff;
  --light-blue-color: #5fbffb;
  --grey-color: #949494;
  --white-color: #fff;

  --error-color: #cb4040;

  --vh: 100vh;
  --vw: 100vw;
}